@media (canvas-size: 1280px) {
  #comp-m4v61dr0 {
    design-background-alignType: "center";
    design-background-color: "color_11";
    design-background-colorOpacity: 0;
    design-background-colorOverlay: "";
    design-background-colorOverlayOpacity: 0;
    design-background-fittingType: "fill";
    design-background-scrollType: "none";
    design-background-type: "BackgroundMedia";
    design-type: "MediaContainerWithDividers";
    height: auto;
    hidden: false;
    max-height: 99999px;
    max-width: 99999px;
    min-height: 1188.5px;
    min-width: 0px;
    component-layout: ComponentLayout;
    column-gap: 0px;
    grid-template-columns: minmax(0px,1fr);
    content-max-width: 99999999999px;
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    row-gap: 0px;
    grid-template-rows: minmax(211.8591275423892px,auto) minmax(95.17195729495329px,auto) minmax(300px,auto) minmax(100px,auto) minmax(82.34384957223902px,auto);
    container-layout: GridContainerLayout;
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-row-start: 2;
    justify-self: stretch;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    layout-variableConnections: [{"path":"containerLayout/contentMaxWidth/maxWidth","variableId":"variables-m28o2bcx"}];
    comp-id: ;
    class-name: responsive.components.Section;
    page-id: ;
    skin: wysiwyg.viewer.skins.area.RectangleArea;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    background: rgba(var(--color_11),0);
    style-type: ComponentStyle;
  }

  #comp-m4v61dr9 {
    height: auto;
    min-height: 0px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: auto;
    grid-template-columns: minmax(0px,1fr);
    padding-bottom: 20px;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 3%;
    grid-template-rows: 1fr;
    container-layout: GridContainerLayout;
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: stretch;
    item-margin-bottom: 0%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: mobile.core.components.Container;
    page-id: ;
    skin: wysiwyg.viewer.skins.area.DefaultAreaSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    background: rgba(var(--color_15),1.0);
    border-color: rgba(initial,0);
    border-width: 0spx;
    border-radius: 0spx;
    box-shadow: disabled(0spx 0spx 0spx 0spx rgba(0,0,0,0.6));
    style-type: ComponentStyle;
  }

  #comp-m4v61dre {
    height: auto;
    hidden: false;
    component-layout: ComponentLayout;
    width: 65%;
    flex-direction: column;
    container-layout: StackContainerLayout;
    align-self: end;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: start;
    item-margin-bottom: 0%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: mobile.core.components.Container;
    page-id: ;
    skin: wysiwyg.viewer.skins.area.DefaultAreaSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    background: rgba(var(--color_11),0);
    border-color: rgba(initial,0);
    border-width: 0px;
    border-radius: 0px;
    box-shadow: disabled(0px 0px 0px 0px rgba(0,0,0,0.6));
    style-type: ComponentStyle;
  }

  #comp-m4v61dri {
    height: auto;
    hidden: false;
    max-width: 99999px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: 100%;
    align-self: start;
    item-margin-bottom: 16px;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    order: 1;
    item-layout: StackItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.WRichText;
    page-id: ;
    skin: wysiwyg.viewer.skins.WRichTextNewSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    color: rgb(var(--color_11));
    font-size: 43.429spx;
    max-font-size: 42px;
    min-font-size: 24px;
    text-align: left;
    text-decoration: none;
    style-type: ComponentStyle;
  }

  #comp-m4v61drs {
    height: auto;
    hidden: false;
    max-height: 99999px;
    max-width: 99999px;
    min-height: 0px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: 100%;
    align-self: start;
    item-margin-bottom: 0%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    order: 2;
    item-layout: StackItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.WRichText;
    page-id: ;
    skin: wysiwyg.viewer.skins.WRichTextNewSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    color: rgb(var(--color_11));
    font-size: 18px;
    line-height: 1.6em;
    text-align: left;
    style-type: ComponentStyle;
  }

  #comp-m4v61drv1 {
    height: auto;
    min-height: 0px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: auto;
    grid-template-columns: minmax(0px,1fr);
    padding-bottom: 0%;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 0%;
    grid-template-rows: 1fr;
    container-layout: GridContainerLayout;
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-row-start: 2;
    justify-self: stretch;
    item-margin-bottom: 0%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: mobile.core.components.Container;
    page-id: ;
    skin: wysiwyg.viewer.skins.area.DefaultAreaSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    background: rgba(var(--color_15),1.0);
    border-color: rgba(initial,0);
    border-width: 0spx;
    border-radius: 0spx;
    box-shadow: disabled(0spx 0spx 0spx 0spx rgba(0,0,0,0.6));
    style-type: ComponentStyle;
  }

  #comp-m4v61dry {
    height: auto;
    hidden: false;
    min-height: 0px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: auto;
    grid-template-columns: minmax(0px,1fr);
    grid-template-rows: 1fr;
    container-layout: GridContainerLayout;
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-row-start: 3;
    justify-self: stretch;
    item-margin-bottom: 0%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: mobile.core.components.Container;
    page-id: ;
    skin: wysiwyg.viewer.skins.area.DefaultAreaSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    background: rgba(var(--color_11),1.0);
    border-color: rgba(initial,0);
    border-width: 0spx;
    border-radius: 0spx;
    box-shadow: disabled(0spx 0spx 0spx 0spx rgba(0,0,0,0.6));
    style-type: ComponentStyle;
  }

  #comp-m4v61ds02 {
    height: auto;
    hidden: false;
    min-height: 0px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: auto;
    grid-template-columns: minmax(0px,1fr);
    padding-bottom: 6%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 3%;
    grid-template-rows: 1fr;
    container-layout: GridContainerLayout;
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-row-start: 4;
    justify-self: stretch;
    item-margin-bottom: 0%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: mobile.core.components.Container;
    page-id: ;
    skin: wysiwyg.viewer.skins.area.DefaultAreaSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    background: rgba(var(--color_11),0);
    border-color: rgba(initial,0);
    border-width: 0spx;
    border-radius: 0spx;
    box-shadow: disabled(0spx 0spx 0spx 0spx rgba(0,0,0,0.6));
    style-type: ComponentStyle;
  }

  #comp-m4v61ds3 {
    height: auto;
    hidden: false;
    min-height: 0px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: auto;
    grid-template-columns: minmax(0px,1fr);
    padding-bottom: 2%;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 0%;
    grid-template-rows: 1fr;
    container-layout: GridContainerLayout;
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 6;
    grid-row-start: 5;
    justify-self: stretch;
    item-margin-bottom: 0%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: mobile.core.components.Container;
    page-id: ;
    skin: wysiwyg.viewer.skins.area.DefaultAreaSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    background: rgba(var(--color_11),0);
    border-color: rgba(initial,0);
    border-width: 0spx;
    border-radius: 0spx;
    box-shadow: disabled(0spx 0spx 0spx 0spx rgba(0,0,0,0.6));
    style-type: ComponentStyle;
  }

  #comp-m4v61ds53 {
    height: 2px;
    hidden: false;
    component-layout: ComponentLayout;
    width: 100.00029064360119%;
    align-self: start;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: end;
    item-margin-bottom: 0%;
    item-margin-left: 0%;
    item-margin-right: -0.0003313337053612031%;
    item-margin-top: 0%;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.FiveGridLine;
    page-id: ;
    skin: wysiwyg.viewer.skins.line.SolidLine;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    border-color: rgba(var(--color_15),1);
    style-style-lnw-value: "2.0";
    style-type: ComponentStyle;
  }

  #comp-m4v61ds9 {
    height: auto;
    hidden: false;
    max-height: 99999px;
    max-width: 99999px;
    min-height: 35.25px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: 119.265625px;
    align-self: end;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: end;
    item-margin-bottom: 0%;
    item-margin-left: 0%;
    item-margin-right: 0.00015113186139614984%;
    item-margin-top: 2%;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.SiteButton;
    page-id: ;
    skin: wysiwyg.viewer.skins.button.WrappingButton;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    align: right;
    background: rgba(var(--color_11),1);
    style-style-bgd-additionalData-alpha: "1.0";
    style-style-bgd-value: "color_11";
    background-color-hover: rgba(var(--color_11),1);
    border-color: rgba(50,50,50,0.0);
    border-color-hover: rgba(255,255,255,0.29);
    border-width: 0px;
    font: {"overrides":{"color":"#000000","fontFamily":"madefor-text","fontSize":"14px","fontStyle":"normal","fontVariant":"normal","fontWeight":"normal","letterSpacing":"0em","lineHeight":"1.4em"},"value":"font_8"};
    padding-horizontal: 0spx;
    margin: 0px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: disabled(0px 1px 4px 0px rgba(0,0,0,0.6));
    text: rgba(0,0,0,1);
    style-style-txtd-value: "color_15";
    text-hover: rgba(var(--color_15),1);
    padding-vertical: 0spx;
    style-type: ComponentStyle;
  }

  #comp-m4v61dsf1 {
    height: auto;
    hidden: false;
    max-height: 99999px;
    max-width: 99999px;
    min-height: 35.265625px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: 119.28125px;
    align-self: end;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: start;
    item-margin-bottom: 0%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.SiteButton;
    page-id: ;
    skin: wysiwyg.viewer.skins.button.WrappingButton;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    align: left;
    background: rgba(var(--color_11),1);
    style-style-bgd-additionalData-alpha: "1.0";
    style-style-bgd-value: "color_11";
    background-color-hover: rgba(var(--color_11),1);
    border-color: rgba(50,50,50,0.0);
    border-color-hover: rgba(255,255,255,0.29);
    border-width: 0px;
    font: {"overrides":{"color":"#000000","fontFamily":"madefor-text","fontSize":"14px","fontStyle":"normal","fontVariant":"normal","fontWeight":"normal","letterSpacing":"0em","lineHeight":"1.4em"},"value":"font_8"};
    padding-horizontal: 0spx;
    margin: 0px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: disabled(0px 1px 4px 0px rgba(0,0,0,0.6));
    text: rgba(0,0,0,1);
    style-style-txtd-value: "color_15";
    text-hover: rgba(var(--color_15),1);
    padding-vertical: 0spx;
    style-type: ComponentStyle;
  }

  #comp-m4v61dsi1 {
    height: 100px;
    hidden: false;
    component-layout: ComponentLayout;
    width: 100px;
    align-self: start;
    justify-self: end;
    item-margin-bottom: 0px;
    item-margin-left: 0px;
    item-margin-right: 7.8190928px;
    item-margin-top: 16px;
    item-layout: FixedItemLayout;
    layout-type: SingleLayoutData;
  }

  #comp-m4v61dsv {
    height: auto;
    component-layout: ComponentLayout;
    width: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    container-layout: GridContainerLayout;
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    layout-itemLayout-id: "";
    justify-self: stretch;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.RefComponent;
    page-id: ;
    skin: wysiwyg.viewer.skins.ResponsiveContainerRefSkin;
    background: rgba(var(--color_11),0);
    style-type: ComponentStyle;
  }

  #comp-m4v61dsz {
    height: auto;
    component-layout: ComponentLayout;
    width: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    container-layout: GridContainerLayout;
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-row-start: 3;
    layout-itemLayout-id: "";
    justify-self: stretch;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.RefComponent;
    page-id: ;
    skin: wysiwyg.viewer.skins.ResponsiveContainerRefSkin;
    background: rgba(var(--color_11),0);
    style-type: ComponentStyle;
  }

  #comp-m4v61dve {
    height: auto;
    hidden: false;
    component-layout: ComponentLayout;
    width: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    container-layout: GridContainerLayout;
    align-self: start;
    justify-self: end;
    item-margin-right: 0px;
    item-margin-top: 0px;
    item-layout: FixedItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.RefComponent;
    page-id: ;
    skin: wysiwyg.viewer.skins.ResponsiveContainerRefSkin;
    background: rgba(var(--color_11),0);
    style-type: ComponentStyle;
  }

  #u17a4 {
    height: auto;
    component-layout: ComponentLayout;
    grid-template-columns: minmax(0px,1fr);
    grid-template-rows: auto auto auto;
    container-layout: GridContainerLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: mobile.core.components.Page;
    page-id: ;
    skin: wysiwyg.viewer.skins.page.ResponsivePageWithColorBG;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    background: rgba(255,255,255,1);
    style-type: ComponentStyle;
  }

}

@media (max-width: 1000px) and (canvas-size: 768px) {
  #comp-m4v61dr0 {
    height: auto;
    hidden: false;
    max-height: 99999px;
    max-width: 99999px;
    min-height: 0px;
    min-width: 0px;
    component-layout: ComponentLayout;
    column-gap: 0px;
    grid-template-columns: minmax(0px,1fr);
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    row-gap: 0px;
    grid-template-rows: minmax(211.8591275423892px,auto) minmax(95.17195729495329px,auto) minmax(120px,auto) minmax(100px,auto) minmax(82.34384957223902px,auto);
    container-layout: GridContainerLayout;
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-row-start: 2;
    justify-self: stretch;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #comp-m4v61dr9 {
    grid-template-columns: minmax(0px,1fr);
    padding-bottom: 20px;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 5%;
    grid-template-rows: 1fr;
    container-layout: GridContainerLayout;
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: stretch;
    item-margin-bottom: 0%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #comp-m4v61dre {
    align-self: center;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: start;
    item-margin-bottom: -0.0024103855841832176%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #comp-m4v61drv1 {
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-row-start: 2;
    justify-self: stretch;
    item-margin-bottom: 0%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #comp-m4v61dry {
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-row-start: 3;
    justify-self: stretch;
    item-margin-bottom: 0%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #comp-m4v61ds02 {
    grid-template-columns: minmax(0px,1fr);
    padding-bottom: 5%;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 5%;
    grid-template-rows: 1fr;
    container-layout: GridContainerLayout;
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-row-start: 4;
    justify-self: stretch;
    item-margin-bottom: 0%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #comp-m4v61ds3 {
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 6;
    grid-row-start: 5;
    justify-self: stretch;
    item-margin-bottom: 0%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #comp-m4v61dsv {
    height: auto;
    hidden: false;
    component-layout: ComponentLayout;
    width: auto;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #comp-m4v61dsz {
    height: auto;
    hidden: false;
    component-layout: ComponentLayout;
    width: auto;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-row-start: 3;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #u17a4 {
    grid-template-columns: minmax(0px,1fr);
    grid-template-rows: auto auto auto;
    container-layout: GridContainerLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

}

@media (max-width: 750px) and (canvas-size: 390px) {
  #comp-m4v61dr0 {
    height: auto;
    hidden: false;
    max-height: 99999px;
    max-width: 99999px;
    min-height: 0px;
    min-width: 0px;
    component-layout: ComponentLayout;
    column-gap: 0px;
    grid-template-columns: minmax(0px,1fr);
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    row-gap: 0px;
    grid-template-rows: minmax(211.8591275423892px,auto) minmax(60px,auto) minmax(120px,auto) minmax(100px,auto) minmax(82.34384957223902px,auto);
    container-layout: GridContainerLayout;
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-row-start: 2;
    justify-self: stretch;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 390;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #comp-m4v61dr9 {
    grid-template-columns: minmax(0px,1fr);
    padding-bottom: 20px;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 8%;
    grid-template-rows: 1fr;
    container-layout: GridContainerLayout;
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: stretch;
    item-margin-bottom: 0%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 390;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #comp-m4v61dre {
    align-self: center;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: start;
    item-margin-bottom: -0.009423884013746598%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #comp-m4v61drv1 {
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-row-start: 2;
    justify-self: stretch;
    item-margin-bottom: 0%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 390;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #comp-m4v61dry {
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-row-start: 3;
    justify-self: stretch;
    item-margin-bottom: 0%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 390;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #comp-m4v61ds02 {
    grid-template-columns: minmax(0px,1fr);
    padding-bottom: 8%;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 8%;
    grid-template-rows: 1fr;
    container-layout: GridContainerLayout;
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-row-start: 4;
    justify-self: stretch;
    item-margin-bottom: 0%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 390;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #comp-m4v61ds3 {
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 6;
    grid-row-start: 5;
    justify-self: stretch;
    item-margin-bottom: 0%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 390;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #comp-m4v61dsv {
    height: auto;
    hidden: false;
    component-layout: ComponentLayout;
    width: auto;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #comp-m4v61dsz {
    height: auto;
    hidden: false;
    component-layout: ComponentLayout;
    width: auto;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-row-start: 3;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #u17a4 {
    grid-template-columns: minmax(0px,1fr);
    grid-template-rows: auto auto auto;
    container-layout: GridContainerLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

}
