@media (canvas-size: 1280px) {
  #comp-m4v7yf8o2 {
    design-background-alignType: "center";
    design-background-color: "color_11";
    design-background-colorLayers: [{"fill":{"color":"#F0F4F7","type":"SolidColor"},"opacity":1,"type":"SolidColorLayer"}];
    design-background-colorOpacity: 0;
    design-background-colorOverlay: "";
    design-background-colorOverlayOpacity: 0;
    design-background-fittingType: "fill";
    design-background-scrollType: "none";
    design-background-type: "BackgroundMedia";
    design-type: "MediaContainerWithDividers";
    height: auto;
    min-height: 0px;
    component-layout: ComponentLayout;
    grid-template-columns: 1fr;
    content-max-width: 99999999999px;
    row-gap: 18px;
    grid-template-rows: maxContent 1fr;
    container-layout: GridContainerLayout;
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: stretch;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    layout-variableConnections: [{"path":"containerLayout/contentMaxWidth/maxWidth","variableId":"variables-m28o2bcx"}];
    comp-id: ;
    class-name: responsive.components.Section;
    page-id: ;
    skin: wysiwyg.viewer.skins.area.RectangleArea;
    background: rgba(var(--color_11),0);
    style-type: ComponentStyle;
  }

  #comp-m4v7yf8s {
    height: auto;
    min-height: 0px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: auto;
    grid-template-columns: minmax(0px,1fr);
    grid-template-rows: 1fr;
    container-layout: GridContainerLayout;
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-row-start: 2;
    justify-self: stretch;
    item-margin-bottom: 0%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: mobile.core.components.Container;
    page-id: ;
    skin: wysiwyg.viewer.skins.area.DefaultAreaSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    background: rgba(var(--color_11),0);
    border-color: rgba(initial,0);
    border-width: 0spx;
    border-radius: 0spx;
    box-shadow: disabled(0spx 0spx 0spx 0spx rgba(0,0,0,0.6));
    style-type: ComponentStyle;
  }

  #comp-m4v7yf8u1 {
    height: auto;
    hidden: false;
    max-height: 99999px;
    max-width: 99999px;
    min-height: 0px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: auto;
    column-gap: 0spx;
    grid-template-columns: minmax(0px,1169fr);
    padding-bottom: 48px;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 0px;
    row-gap: 0spx;
    grid-template-rows: minmax(289.57spx,auto);
    container-layout: GridContainerLayout;
    align-self: center;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: stretch;
    item-margin-bottom: 0%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: mobile.core.components.Container;
    page-id: ;
    skin: wysiwyg.viewer.skins.area.DefaultAreaSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    background: rgba(255,255,255,0.0);
    border-color: rgba(0,0,0,0.0);
    border-width: 0spx;
    border-radius: 0spx 0spx 0spx 0spx;
    box-shadow: disabled(0spx 1spx 4spx 0spx rgba(0,0,0,0.6));
    style-type: ComponentStyle;
  }

  #comp-m4v7yf8w2 {
    height: auto;
    hidden: false;
    max-height: 99999px;
    max-width: 1248px;
    min-height: 0px;
    min-width: 864px;
    component-layout: ComponentLayout;
    width: 100%;
    column-gap: 0spx;
    grid-template-columns: minmax(0px,1168.99975fr);
    row-gap: 0spx;
    grid-template-rows: minmax(324.039spx,auto);
    container-layout: GridContainerLayout;
    align-self: center;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: center;
    item-margin-bottom: 0%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: mobile.core.components.Container;
    page-id: ;
    skin: wysiwyg.viewer.skins.area.DefaultAreaSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    background: rgba(255,255,255,0.0);
    border-color: rgba(0,0,0,0.0);
    border-width: 0spx;
    border-radius: 8spx 8spx 8spx 8spx;
    box-shadow: disabled(0spx 1spx 4spx 0spx rgba(0,0,0,0.6));
    style-type: ComponentStyle;
  }

  #comp-m4v7yf8y {
    height: maxContent;
    hidden: false;
    component-layout: ComponentLayout;
    width: auto;
    flex-direction: column;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    container-layout: StackContainerLayout;
    align-self: start;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: stretch;
    item-margin-bottom: -0.0013045337895571944%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0.015625px;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: mobile.core.components.Container;
    page-id: ;
    skin: wysiwyg.viewer.skins.area.DefaultAreaSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    background: rgba(255,255,255,1.0);
    border-color: rgba(initial,0);
    border-width: 0px;
    border-radius: 8px 8px 8px 8px;
    box-shadow: disabled(0px 0px 0px 0px rgba(0,0,0,0.6));
    style-type: ComponentStyle;
  }

  #comp-m4v7yf90 {
    height: auto;
    hidden: false;
    max-height: 99999px;
    max-width: 99999px;
    min-height: 0px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: 100%;
    column-gap: 0vw;
    grid-template-columns: minmax(0px,1fr);
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 18px;
    row-gap: 0vw;
    grid-template-rows: minmax(308.34375px,auto);
    container-layout: GridContainerLayout;
    align-self: stretch;
    item-margin-bottom: 0px;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    order: 3;
    item-layout: StackItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: mobile.core.components.Container;
    page-id: ;
    skin: wysiwyg.viewer.skins.area.DefaultAreaSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    background: rgba(255,255,255,0.0);
    border-color: rgba(0,0,0,0.0);
    border-width: 0px;
    border-radius: 0px 0px 0px 0px;
    box-shadow: disabled(0px 1px 4px 0px rgba(0,0,0,0.6));
    style-type: ComponentStyle;
  }

  #comp-m4v7yf921 {
    height: auto;
    max-height: 99999px;
    max-width: 99999px;
    min-height: 0px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: 100%;
    flex-direction: column;
    padding-bottom: 18px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 18px;
    container-layout: StackContainerLayout;
    align-self: stretch;
    item-margin-bottom: -0.015625px;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    order: 1;
    item-layout: StackItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: mobile.core.components.Container;
    page-id: ;
    skin: wysiwyg.viewer.skins.area.DefaultAreaSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    background: rgba(var(--color_11),0);
    border-color: rgba(initial,0);
    border-width: 0px;
    border-radius: 0px;
    box-shadow: disabled(0px 0px 0px 0px rgba(0,0,0,0.6));
    style-type: ComponentStyle;
  }

  #comp-m4v7yf935 {
    height: auto;
    hidden: false;
    component-layout: ComponentLayout;
    width: auto;
    align-self: stretch;
    item-margin-bottom: 0%;
    item-margin-left: 0.0036404939422180803%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    order: 1;
    item-layout: StackItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.WRichText;
    page-id: ;
    skin: wysiwyg.viewer.skins.WRichTextNewSkin;
    color: rgb(0,6,36);
    font-family: madefor-text-bold,helveticaneuew01-65medi,helveticaneuew02-65medi,helveticaneuew10-65medi,sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 1.3em;
    style-type: ComponentStyle;
  }

  #comp-m4v7yf96 {
    height: auto;
    hidden: false;
    component-layout: ComponentLayout;
    width: auto;
    align-self: stretch;
    item-margin-bottom: 0px;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    order: 2;
    item-layout: StackItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.WRichText;
    page-id: ;
    skin: wysiwyg.viewer.skins.WRichTextNewSkin;
    color: rgb(51,56,83);
    font-family: wfont_1f4e5a_79bca1b6131343a3ac863df1ad352a95,wf_79bca1b6131343a3ac863df1a,orig_wix_madefor_text_regular;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5em;
    style-type: ComponentStyle;
  }

  #comp-m4v7yf973 {
    height: 2px;
    hidden: false;
    component-layout: ComponentLayout;
    width: auto;
    align-self: stretch;
    item-margin-bottom: 0.015625px;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    order: 2;
    item-layout: StackItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.FiveGridLine;
    page-id: ;
    skin: wysiwyg.viewer.skins.line.SolidLine;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    border-color: rgba(223,229,235,1);
    style-style-lnw-value: "1px";
    style-type: ComponentStyle;
  }

  #comp-m4v7yf991 {
    height: auto;
    min-height: 0px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: auto;
    grid-template-columns: minmax(0px,1fr);
    padding-bottom: 6px;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 24px;
    grid-template-rows: 1fr;
    container-layout: GridContainerLayout;
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: stretch;
    item-margin-bottom: 0%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    position: sticky;
    top: -18px;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: mobile.core.components.Container;
    page-id: ;
    skin: wysiwyg.viewer.skins.area.DefaultAreaSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    background: rgba(240,244,247,1.0);
    border-color: rgba(initial,0);
    border-width: 0spx;
    border-radius: 0spx;
    box-shadow: disabled(0spx 0spx 0spx 0spx rgba(0,0,0,0.6));
    style-type: ComponentStyle;
  }

  #comp-m4v7yf9d {
    height: auto;
    hidden: false;
    max-height: 99999px;
    max-width: 99999px;
    min-height: 0px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: auto;
    column-gap: 0spx;
    grid-template-columns: minmax(0px,1fr);
    padding-bottom: 0%;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 0%;
    row-gap: 0spx;
    grid-template-rows: minmax(maxContent,100%);
    container-layout: GridContainerLayout;
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: stretch;
    item-margin-bottom: 0%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    position: sticky;
    top: 6px;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: mobile.core.components.Container;
    page-id: ;
    skin: wysiwyg.viewer.skins.area.DefaultAreaSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    background: rgba(255,255,255,0.0);
    border-color: rgba(0,0,0,0.0);
    border-width: 0px;
    border-radius: 0px 0px 0px 0px;
    box-shadow: disabled(0px 1px 4px 0px rgba(0,0,0,0.6));
    style-type: ComponentStyle;
  }

  #comp-m4v7yf9e6 {
    height: auto;
    hidden: false;
    max-height: 99999px;
    max-width: 1248px;
    min-height: 0px;
    min-width: 864px;
    component-layout: ComponentLayout;
    width: 100%;
    column-gap: 0spx;
    grid-template-columns: minmax(0px,1168.99975fr);
    row-gap: 0spx;
    grid-template-rows: minmax(50.75spx,auto);
    container-layout: GridContainerLayout;
    align-self: center;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: center;
    item-margin-bottom: 0%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: mobile.core.components.Container;
    page-id: ;
    skin: wysiwyg.viewer.skins.area.DefaultAreaSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    background: rgba(255,255,255,0.0);
    border-color: rgba(0,0,0,0.0);
    border-width: 0spx;
    border-radius: 0spx 0spx 0spx 0spx;
    box-shadow: disabled(0spx 1spx 4spx 0spx rgba(0,0,0,0.6));
    style-type: ComponentStyle;
  }

  #comp-m4v7yf9g1 {
    height: maxContent;
    hidden: false;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: maxContent;
    flex-direction: column;
    container-layout: StackContainerLayout;
    align-self: start;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: start;
    item-margin-bottom: 0%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: mobile.core.components.Container;
    page-id: ;
    skin: wysiwyg.viewer.skins.area.DefaultAreaSkin;
    background: rgba(255,255,255,0);
    border-color: rgba(initial,0);
    border-width: 0px;
    border-radius: 0px;
    box-shadow: disabled(0px 0px 0px 0px rgba(0,0,0,0.6));
    style-type: ComponentStyle;
  }

  #comp-m4v7yf9h4 {
    height: auto;
    hidden: false;
    component-layout: ComponentLayout;
    width: 100%;
    align-self: center;
    item-margin-bottom: 0px;
    item-margin-left: 0%;
    item-margin-right: 0%;
    order: 1;
    item-layout: StackItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.WRichText;
    page-id: ;
    skin: wysiwyg.viewer.skins.WRichTextNewSkin;
    color: rgb(0,6,36);
    font-family: wfont_1f4e5a_8631ad30ea9042b09e3563510c17dfa4,wf_8631ad30ea9042b09e3563510,orig_wix_madefor_text_bold;
    font-size: 28px;
    line-height: 1.3em;
    text-decoration: none;
    style-type: ComponentStyle;
  }

  #comp-m4v7yf9i6 {
    height: auto;
    hidden: false;
    component-layout: ComponentLayout;
    width: 100%;
    align-self: center;
    item-margin-bottom: 0px;
    item-margin-left: 0%;
    item-margin-right: 0%;
    order: 2;
    item-layout: StackItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.WRichText;
    page-id: ;
    skin: wysiwyg.viewer.skins.WRichTextNewSkin;
    color: rgb(51,56,83);
    font-family: wfont_1f4e5a_79bca1b6131343a3ac863df1ad352a95,wf_79bca1b6131343a3ac863df1a,orig_wix_madefor_text_regular;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5em;
    style-type: ComponentStyle;
  }

  #comp-m4v7yf9k {
    height: auto;
    hidden: false;
    min-height: 0px;
    component-layout: ComponentLayout;
    width: maxContent;
    flex-direction: row;
    container-layout: StackContainerLayout;
    align-self: start;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: end;
    item-margin-bottom: 0%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: mobile.core.components.Container;
    page-id: ;
    skin: wysiwyg.viewer.skins.area.DefaultAreaSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    background: rgba(var(--color_11),0);
    border-color: rgba(initial,0);
    border-width: 0px;
    border-radius: 0px;
    box-shadow: disabled(0px 0px 0px 0px rgba(0,0,0,0.6));
    style-type: ComponentStyle;
  }

  #comp-m4v7yf9l4 {
    height: auto;
    hidden: false;
    min-height: 36px;
    component-layout: ComponentLayout;
    width: 135px;
    align-self: start;
    item-margin-bottom: 0spx;
    item-margin-left: 0spx;
    item-margin-right: 0px;
    item-margin-top: 0spx;
    order: 2;
    item-layout: StackItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.SiteButton;
    page-id: ;
    skin: wysiwyg.viewer.skins.button.WrappingButton;
    background: rgba(17,109,255,1);
    background-color-hover: rgba(15,98,230,1);
    border-color: rgba(17,109,255,1);
    border-color-hover: rgba(15,98,230,1);
    border-width: 1.0;
    font: overrides(var(--font_7),initial initial 16px wfont_1f4e5a_4158a6f551d840f48e881c1db6eecae6,wf_4158a6f551d840f48e881c1db,orig_wix_madefor_text_medium);
    padding-horizontal: 0.0;
    border-radius: 18px 18px 18px 18px;
    box-shadow: disabled(0px 1px 4px 0px rgba(0,0,0,0.6));
    text: rgba(255,255,255,1);
    text-hover: rgba(255,255,255,1);
    padding-vertical: 0.0;
    style-type: ComponentStyle;
  }

  #comp-m4v7yf9o {
    height: auto;
    hidden: false;
    min-height: 36px;
    component-layout: ComponentLayout;
    width: 181.921875px;
    align-self: start;
    item-margin-bottom: 0spx;
    item-margin-left: 0spx;
    item-margin-right: 12px;
    item-margin-top: 0spx;
    order: 1;
    item-layout: StackItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.SiteButton;
    page-id: ;
    skin: wysiwyg.viewer.skins.button.WrappingButton;
    background: rgba(255,255,255,1);
    background-color-hover: rgba(15,98,230,1);
    border-color: rgba(214,230,254,1);
    border-color-hover: rgba(15,98,230,1);
    border-width: 1.0;
    font: overrides(var(--font_7),initial initial 16px wfont_1f4e5a_4158a6f551d840f48e881c1db6eecae6,wf_4158a6f551d840f48e881c1db,orig_wix_madefor_text_medium);
    padding-horizontal: 0.0;
    border-radius: 18px 18px 18px 18px;
    box-shadow: disabled(0px 1px 4px 0px rgba(0,0,0,0.6));
    text: rgba(17,109,255,1);
    text-hover: rgba(255,255,255,1);
    padding-vertical: 0.0;
    style-type: ComponentStyle;
  }

  #comp-m4v7yfec {
    height: auto;
    hidden: false;
    component-layout: ComponentLayout;
    width: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    container-layout: GridContainerLayout;
    align-self: start;
    justify-self: end;
    item-margin-right: 0px;
    item-margin-top: 0px;
    item-layout: FixedItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.RefComponent;
    page-id: ;
    skin: wysiwyg.viewer.skins.ResponsiveContainerRefSkin;
    background: rgba(var(--color_11),0);
    style-type: ComponentStyle;
  }

  #comp-m4v7yfy9 {
    height: 60px;
    hidden: false;
    component-layout: ComponentLayout;
    width: 60px;
    align-self: start;
    justify-self: end;
    item-layout: FixedItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #vhnyc {
    height: auto;
    component-layout: ComponentLayout;
    grid-template-columns: minmax(0px,1fr);
    grid-template-rows: auto;
    container-layout: GridContainerLayout;
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: mobile.core.components.Page;
    page-id: ;
    skin: wysiwyg.viewer.skins.page.ResponsivePageWithColorBG;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    background: rgba(240,244,247,1.0);
    style-type: ComponentStyle;
  }

}
