@media (canvas-size: 1280px) {
  #comp-m4v63ye42 {
    background-align-type: center;
    design-background-color: #FFFFFE;
    background-color-opacity: 1;
    background-color-overlay: ;
    background-color-overlay-opacity: 0;
    background-fitting-type: fill;
    background-scroll-type: none;
    design-background-type: "BackgroundMedia";
    design-type: MediaContainerDesignData;
    height: 100%;
    hidden: false;
    max-width: 99999px;
    min-height: 100px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: 420px;
    align-self: stretch;
    justify-self: end;
    item-margin-bottom: 0px;
    item-margin-left: 0px;
    item-margin-right: 0px;
    item-margin-top: 0px;
    item-layout: FixedItemLayout;
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.PopupContainer;
    page-id: ;
    skin: wysiwyg.viewer.skins.screenwidthcontainer.ResponsivePopupContainerWithColorBG;
    background: rgba(var(--color_11),1);
    style-type: ComponentStyle;
  }

  #comp-m4v63yeh {
    height: auto;
    hidden: false;
    component-layout: ComponentLayout;
    width: 100%;
    align-self: center;
    justify-self: center;
    item-margin-bottom: 0%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    item-layout: FixedItemLayout;
    layout-type: SingleLayoutData;
  }

  #comp-m4v63yh5 {
    height: 60px;
    component-layout: ComponentLayout;
    width: 60px;
    align-self: start;
    justify-self: end;
    item-layout: FixedItemLayout;
    layout-type: SingleLayoutData;
  }

  #ghkjs {
    height: auto;
    component-layout: ComponentLayout;
    width: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    container-layout: GridContainerLayout;
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: mobile.core.components.Page;
    page-id: ;
    skin: wysiwyg.viewer.skins.page.ResponsivePageWithColorBG;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    background: rgba(var(--color_15),0.3);
    style-type: ComponentStyle;
  }

}
